aws_region        = "eu-west-2"
aws_key_pair_name = "key-pair-name"

availability_zones = ["eu-west-2a", "eu-west-2b"]
public_subnets     = ["10.10.100.0/24", "10.10.101.0/24"]
private_subnets    = ["10.10.0.0/24", "10.10.1.0/24"]

app_name        = "{{cookiecuttter.project_name}}-app"
app_environment = "qa"
